<h1><%= @task.title %></h1>

<h3><%= @task.details %></h3>

<p><%= @completion %></p>

<%= link_to 'Back to list', tasks_path %>
<%= link_to 'Edit a task', edit_task_path(@task) %>
<%= link_to 'Delete a task', task_path(@task), method: :delete, data: { confirm: 'Do you want to delete?' }  %>
